// ==========================================================================
// Grid Custom System
// ==========================================================================

// !! Requires map-variables $breakpoints
//
// @example scss - Usage
//     @include grid(
//          attribute       (default: 'grid')
//          columns         (default: 12)
//          gutter-width    (default: 0)
//          max-width       (default: 100%)
//      );

@mixin grid(
$attribute : 'grid',
$attribute-columns : 12,
$gutter : 0,
$max-width : false,
$flexbox: true
){

    [#{$attribute}=""] {

        & {
            width: 100%;
            margin: 0 auto;

            @if($max-width == false){
                $max-width : calc(100% - #{$gutter});
            }
            @else {
                max-width: $max-width;
            }
            @if($gutter != 0){
                padding-left: $gutter/2;
                padding-right: $gutter/2;
            }
        }

        &[#{$attribute}--collapse] {
            max-width: 100%;
        }

        [#{$attribute}~=row] {

            @if($flexbox) {
                display: flex;
                flex: 0 1 auto;
                flex-direction: row;
                flex-wrap: wrap;

                &[#{$attribute}~=reverse] {
                    flex-direction: row-reverse;
                }
            }
            @else {
                display: block;
                margin-left: -$gutter/2;
                margin-right: -$gutter/2;
                position: relative;

                &:after, &:before {
                    content: "";
                    display: table;
                    clear: both;
                }
            }

            [#{$attribute}*="-"] {
                display: block;
                width: 100%;

                @if($flexbox) {
                    flex: 0 0 auto;
                    margin: 0;

                    &[#{$attribute}~=reverse] {
                        flex-direction: column-reverse;
                    }
                }
                @else {
                    float: left;
                }

                @if($gutter != 0){
                    padding-left: $gutter/2;
                    padding-right: $gutter/2;
                }
            }
        }
    }



    [block-#{$attribute}]:not([block-#{$attribute}=block]) {

        margin-left:-$gutter/2;
        margin-right:-$gutter/2;
        position: relative;

        @if ($flexbox) {
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: wrap;

            &[row~=reverse] {
                flex-direction: row-reverse;
            }
        }
        @else {
            display: block;

            &:after, &:before {
                content: "";
                display: table;
                clear: both;
            }
        }
    }

    [block-#{$attribute}=block] {
        @if ($flexbox) {
            flex: 1 1 0;
        }
        @else {
            width: 100%;
            float: left;

            @for $i from 1 through $attribute-columns {
                &:nth-of-type(#{$i}n+1) {
                    clear: both;
                }
            }
            &:nth-of-type(1n) {
                clear: none;
            }
        }

        @if($gutter != 0){
            padding-left: $gutter/2;
            padding-right: $gutter/2;
            padding-bottom: $gutter;
        }
    }

    @each $bp, $w in $breakpoints {
        @media only screen and (min-width: #{$w}) {
            @for $i from 1 through $attribute-columns {

                [block-#{$attribute}~="#{$bp}-#{$i}"] {

                    [block-#{$attribute}=block] {
                        @if ($flexbox) {
                            flex-basis: 100% / $i;
                            max-width: 100% / $i;
                        }
                        @else {
                            width: 100% / $i;
                        }
                    }
                }

                [#{$attribute}=""] [#{$attribute}~=row] [#{$attribute}~="#{$bp}-#{$i}"] {
                    @if ($flexbox) {
                        flex-basis: 100% / $attribute-columns * $i;
                        max-width: 100% / $attribute-columns * $i;
                    }
                    @else {
                        width: 100% / $grid-columns * $i;
                    }
                }
                @if (not $flexbox) {
                    [#{$attribute}~="#{$bp}-offset-#{$i}"] {
                        margin-left: 100% / $grid-columns * $i;
                    }
                    [#{$attribute}~="#{$bp}-pull-#{$i}"] {
                        position: relative;
                        right: percentage(($i / $grid-columns));
                    }
                    [#{$attribute}~="#{$bp}-push-#{$i}"] {
                        position: relative;
                        left: percentage(($i / $grid-columns));
                    }
                }
            }
        }

        @if ($flexbox) {
            &[#{$attribute}~="#{$bp}-auto"] {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%;
            }
            &[#{$attribute}~="start-#{$bp}"] {
                justify-content: flex-start;
                text-align: start;
            }
            &[#{$attribute}~="end-#{$bp}"] {
                justify-content: flex-end;
                text-align: end;
            }
            &[#{$attribute}~="center-#{$bp}"] {
                justify-content: center;
                text-align: center;
            }
            &[#{$attribute}~="between-#{$bp}"] {
                justify-content: space-between;
            }
            &[#{$attribute}~="around-#{$bp}"] {
                justify-content: space-around;
            }
            &[#{$attribute}~="top-#{$bp}"] {
                align-items: flex-start;
            }
            &[#{$attribute}~="middle-#{$bp}"] {
                align-items: center;
            }
            &[#{$attribute}~="bottom-#{$bp}"] {
                align-items: flex-end;
            }
            &[#{$attribute}~="first-#{$bp}"] {
                order: -1;
            }
            &[#{$attribute}~="last-#{$bp}"] {
                order: 1;
            }
        }
    }
}
