.cover {
    width: 100%;
    text-align: center;
    font-family: "Patua One";
    color: #5f5f5f;

    img {
        display: inline-block;
        margin-top: 2in;
        margin-bottom: .7in;
    }

    tr:nth-child(3) {
        td {
            padding-top: 4in;
            padding-bottom: 30px;
            text-align: right;
            font-size: em(30px);
            font-family: "News cycle";
        }
    }

    tfoot {
        td {
            line-height: 1.6in;
            background-color: #579ed5;
        }
    }

    td {
        text-align: center;

        span {
            display: block;
            font-size: em(36px);

            + span {
                color: #75b7e3;
                font-size: em(18px);
            }
        }
    }
}
