@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/News_Cycle-normal-400.woff) format('woff');
}

@font-face {
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Patua_One-normal-400.woff) format('woff');
}